[
    % EdgeDNS Core.
    {edge_core, [
        %%%%%%%%%%%%%%%% DNS-relaying options %%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        % List of IP/ports where we listen for incoming DNS queries
        % Note that only UDP is supported at the moment
        % IPv4 example: {listeners, [{"127.0.0.1", 53}]}
        % IPv6 example: {listeners, [{"fe80:beef::", 53}]}
        % IPv4 and IPv6 example: {listeners, [
        %                            {"127.0.0.1", 53},
        %                            {"fe80:beef::", 53}
        %                            ]}
        {listeners, [{"127.0.0.1", 53}]},

        % Upstream DNS Server.
        {nameserver, {"127.0.0.1", 53}},

        %% Range of ports used when communicating with upstream DNS-server
        {port_range_resolvers, {5300, 5305}},

        %% Should EdgeDNS silently drop DNS responses (used for testing)
        {silent, false},

        %%%%%%%%%%%%%%%% Dampening options %%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        %% Wheter or not to block queries based on their scores.
        %% Note that logging reports potentially blocked peers as if they were.
        {enable_dampening, true},

        %% Number of points that triggers blocking
        {blocking_threshold, 99999999999999999},

        %% Decay rate of traffic-scoring
        {decay_rate, 0.50},

        %% Blocking exemption list (empty if omitted)
        %{whitelist, ["127.0.0.1"]},

        %%%%%%%%%%%%%%%% Misc options %%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        %% Interval in seconds (int/float) where EdgeDNS logs stats
        %% about queries made since last log entry
        {stats_log_frequency, 60},

        % Number of messages we can handle being
        % delivered to our inbox from the UDP
        % listener.
        {active_message_count, 10},

        %% Name of the yaml-config
        {yaml_config_name, "edgedns_config.yml"},

        %% Prioritized list of paths for the configuration file
        {yaml_config_paths, [
            "/does/not/exist/",
            "./",
            "~/.edgedns/",
            "/usr/local/etc/",
            "/etc/"
            ]}
        ]},

    % Lager configuration.
    {lager, [
        % Console colors.
        {colored, true},

        % Log handlers configuration.
        {handlers, [
            % Console logging.
            {lager_console_backend, info},

            %% Query stats logging (used for the 'stats_log_file' entry
            %% in the YAML-configuration format
            {lager_file_backend, [
                {file, "log/query_stats.log"},
                {level, '=notice'}
            ]}
        ]}
    ]},

    % SASL configuration.
    {sasl, [
        % Log file.
        {sasl_error_logger, {file, "log/sasl-error.log"}},

        % Log type.
        {errlog_type, error},

        % Log directory.
        {error_logger_mf_dir, "log/sasl"},

        % 10 MB max file size.
        {error_logger_mf_maxbytes, 10485760},

        % 5 files max.
        {error_logger_mf_maxfiles, 5}
    ]}
].

%% vim: set ft=erlang :
